#header {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    border-bottom: solid 1px;


}

#header>span {
    background-color: green;
    float: left;
    width: 20%;

}

#header>#navBar {
    float: right;
    width: 70%;
}

#navBar #topNav {
    float: right;
    display: flex;

}

#topNav a {
    color: black;
    margin-right: 30px;
    text-decoration: none;
    text-transform: capitalize;

}