/* top header section */
#header {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    border-bottom: solid 1px;
}

#header>span {
    float: left;
    width: 20%;

}
/* styling the top navigation panel */
#header>#navBar {
    float: right;
    width: 70%;
}

#navBar #topNav {
    float: right;
    display: flex;
}

#topNav input{
    border: solid 2px;
    height: 40px;
    border-radius: 5px;
}
/* top NAv links */
#topNav a {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 30px;
    text-decoration: none;
    text-transform: capitalize;

}
/* background image on the hero section */
#hero{
    width: 100%;
    background-image: url(home-banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
   
    
}
/* placing hero text in the middle and other styling */
#heroTXT{
   width: 60%;
   height: 50vh;
   border: solid white 5px;
   background-color: rgba(0, 0, 0, 0.5);
   margin: 200px 20px;
   
}
#heroTXT h3{
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
    font-weight: 700;
    text-align: center;

}
#heroTXT p{
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}
#heroTXT span{
    color: #2294f2;
}
/* contact us link in inside the hero image */
.contactBTN{
    height: auto;
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;

}
#heroTXT a{
    padding: 20px 60px;
    background-color: none;
    font-size: 25px;
    font-weight: bolder;
    color: #2294f2;
    align-self: center;
    text-decoration: none;
    border: solid 1px;
    
}
/* hover effect on the contact button */
#heroTXT a:hover{
    background-color: #2294f2;
    color: white;
    transition-duration: .5s;
    text-decoration: underline;
    border:none
}
/* commitment section */
#commitment{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    
}
#commitment .commitmentContent{
    width: 50%;
    height: auto;
    margin: 150px 10px;
}
.commitmentContent h1{
    font-size: 50px;
    color: #41464B;
    font-family: ROboto, sans-serif;
}
.commitmentContent p{
    font-size:  17px;
    font-family: roboto, sans-serif;
    color: #717171;
}
.commitmentContent hr{
    width: 50px;
    height: 5px;
    background-color: #2294f2;
}
/* Read more button */

.commitmentContent .readMoreBtn{
    width: 100%;
    height: auto;
    background-color: none;
    text-align: center;
    padding: 30px;
}
.readMoreBtn a{
    background-color: none;
    padding: 20px 60px;
    color: #2294f2;
    border: solid 1px;
}
/* hover effect on the read me btn */
.readMoreBtn a:hover{
    background-color: #2294f2;
    color: white;
    transition-duration: .5s;
    border: none;
    text-decoration: none;
}
/*  alligning the process sections horizontally and styling accordingly */
#process{
    background-color: none;
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
}
/* styling the icons */
.icon{
    width: 200px;
    height: auto;
}
.icon > img{
    width: 100%;
    height: 100%;
}
/* styling the individual blocks */
#navy{
    background-color: #12355b;
    width: 30%;
    height: 70vh;
}
#navy h3{
    color: white;
    font-family: roboto, sans-serif;
    font-size: 1rem;
    text-align: center;
}
#navy p{
    color: white;
    font-family: roboto, sans-serif;
    font-size: large;
}
