/* top header section */
#header {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 30px;
    border-bottom: solid 1px;
}

#header>span {
    float: left;
    width: 20%;

}
/* styling the top navigation panel */
#header>#navBar {
    float: right;
    width: 70%;
}

#navBar #topNav {
    float: right;
    display: flex;
}

#topNav input{
    border: solid 2px;
    height: 40px;
    border-radius: 5px;
}
#topNav a {
    color: black;
    margin-right: 30px;
    text-decoration: none;
    text-transform: capitalize;

}
/* background image on the hero section */
#hero{
    width: 100%;
    background-image: url(home-banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* placing hero text in the middle and other styling */
#heroTXT{
   width: 60%;
   height: 50vh;
   background-color: rgba(0, 0, 0, 0.5);
}
#heroTXT h3{
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
    font-weight: 700;
    text-align: center;

}
#heroTXT p{
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}
#heroTXT span{
    color: #2294f2;
}
/* contact us link in inside the hero image */
.contactBTN{
    height: auto;
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;

}
#heroTXT a{
    padding: 20px 60px;
    background-color: none;
    font-size: 25px;
    font-weight: bolder;
    color: #2294f2;
    align-self: center;
    text-decoration: none;
    border: solid 1px;
    
}
/* hover effect on the contact button */
#heroTXT a:hover{
    background-color: #2294f2;
    color: white;
    transition-duration: .5s;
    text-decoration: underline;
    border:none
}